.biography{
    background-image: url("https://images.squarespace-cdn.com/content/v1/593070a42994cad2710a6439/44c87507-eb8a-43d5-82ba-1cfa296076d1/ggg.jpg");
    background-position: center;
    background-size: cover;

  }